.pagewidth{width:1170px;}
table textarea,table input[type="text"],table input[type="password"],table input.text{width:90%}
  .survey-groupdescription table input[type="text"],.survey-groupdescription table input.text
, .survey-question-text table input[type="text"],.survey-question-text table input.text
, table.question input[type="text"],table.question input.text
, .survey-groupdescription table .formula,table.question .formula
    {width:85%}
  .survey-groupdescription .more4 table input[type="text"],.survey-groupdescription .more4 table input.text
, .survey-question-text .more4 table input[type="text"],.survey-question-text .more4 table input.text
, .survey-groupdescription table .more4 .formula
    {max-width:80%}
/* The following styles are for IE 8 only*/

[class^="icon-"],[class*=" icon-"] {
  background-image: url(glyphicons-halflings_ie.png);
}
.icon-white
 {
  display:none;
}
#index .container .row .hdr {
  display: block;
  float:left;
  clear:left;
}

